*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	background-color: #000;
	width: 100vw;
	height: 100vh;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

input[type='text'],
input[type='text']:disabled,
.copy-btn {
	background-color: #fff;
	color: #000;
	border: #000;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.change-btn {
	padding: 1rem 3rem;
	outline: none;
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 0.25rem;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

.change-btn:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}

h1 {
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
		1px 1px 0 #fff;
	text-align: center;
}

.copy-btn {
	cursor: pointer;
}
