$tablet: 768px;
$desktop: 1024px;

@media (min-width: $tablet) {
  .toBe-shown {
    display: inline;
  }
  header {
    margin-bottom: 0;
    .scoreBoard li {
      line-height: 1.4;
      font-size: 2rem;
    }
    .btn-playAgain {
      font-size: 2.8rem;
      padding: 1rem 3rem;
    }
  }

  main {
    .section-content {
      .content-image {
        .content-heading {
          font-size: 2.5rem;
          text-align: center;
        }
      }
    }

    .section-hints {
      .hints-warning {
        .hints-text {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .btn-check {
    font-size: 3rem;
    padding: 1rem 1.5rem;
  }

  header {
    margin-bottom: 0;
    .scoreBoard li {
      font-size: 2rem;
    }
    .btn-playAgain {
      font-size: 2.5rem;
      padding: 1rem 3.5rem;
      letter-spacing: 0.1px;
    }
  }
  main {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7%;
    .section-content {
      .content-image {
        .content-heading {
          text-align: center;
          font-size: 2.5rem;
        }
      }
    }
    .section-hints {
      margin-top: 2rem;
      .hints-title {
        font-size: 2.5rem;
      }
      .hints-warning {
        .hints-text {
          font-size: 1.5rem;
        }
      }
    }
  }
  footer {
    .footer-icons {
      .iconNtext {
        .text {
          font-size: 1.3rem;
        }
      }
      .iconNtext:not(:first-child) {
        margin-left: 1.2rem;
      }
    }

    .footer-text {
      margin-top: 1.2rem;
      display: flex;
      font-size: 2.3rem;
    }
  }
}
