* {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 0.1rem;
}

#color-picker:focus {
  box-shadow: none !important;
}

.button {
  cursor: pointer;
  font-size: 1.25rem;
}

.dummy-0 {
  text-align: justify;
}

.search-field {
  width: 50%;
  margin-left: auto;
  cursor: pointer;
}

h1 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@media (max-width: 768px) {
  .main {
    width: 100% !important;
  }
}
